# Default ignored files
/../../Economic Modelling /.idea/shelf/
/../../Economic Modelling /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Economic Modelling /.idea/httpRequests/
# Datasource local storage ignored files
/../../Economic Modelling /.idea/dataSources/
/../../Economic Modelling /.idea/dataSources.local.xml
